.lt-component-root{
    .dish-selection{
        .dish{
          .dish-image{
            height: 0;
            padding-top: 45.2%;
          }
          .dish-content{
            display: flex;
            .dish-name{
              width: 75%;
            }
          }
        }
    }
}