.lt-component-root{
    .login{
        margin-top: 50%;
        button{
          margin: 0.5em 0;
        }
        .headline{
          display: block;
          margin: auto;
          width: fit-content;
        }
        .form-container {
          display: flex;
          justify-content: center;
          align-items: center;
        }
    }
}