@import "components/dishSelection.scss";
@import "components/login.scss";
@import "components/logo.scss";
@import "components/menu.scss";
@import "components/filter.scss";



body {
    font-family: museo-sans, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    a{
      color: unset;
      text-decoration: unset;
    }

    .lt-component-root{
      .background{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 0;
      }
      &.dark{
        .background{
          background-color: #424242;
        }
      }
      &.light{
        background-color: white;
      }
      .content{
        margin-top: 5em;
      }
      
      
      
    }
}