body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    .menu-drawer{
      .drawer-content{
        padding: 4.5em 1em;
        .profile-link{
          display: flex;
          margin: 0.5em;
        }
      }
    }

    .lt-component-root{
      .menu{
        .menu-bar{
          flex-direction: row;
          z-index: 1400;
          .menu-button{
            margin: 0.3em;
          }
          .logo{
            padding-top: 0.5em;
          }
        }
      }
      .logo{
        display: flex;
        margin: auto;
        width: fit-content;
        .logo-img{
          display: inline;
          margin: 0.5em;
        }
      }
      .login{
        margin-top: 50%;
        button{
          margin: 0.5em 0;
        }
        .headline{
          display: block;
          margin: auto;
          width: fit-content;
        }
        .form-container {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
}